# Dependencies
node_modules

# Configs

# Caches
.eslintcache
.next
out

# Testings
coverage
cypress/videos
cypress/screenshots/
cypress/snapshots/actual/
cypress/snapshots/diff/

# Builds
build
dist

# Miscellaneous
.DS_Store
.env
.env.*
.env-encoded
.npmrc
*-lock.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
*.tsbuildinfo
.pnpm-store

# Logs
logs
*.log
*-debug.log*
*-error.log*

# Types

# Ignores
